.body{
    margin-top: 100px;
}

.filter{
    width: 80%;
    margin: auto;
}

#restaurants{
    width: 100vw;
    padding: 25px 0;
}

.restaurant-sec{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
}

.resCard{
    width: 22%;
    padding: 10px;
    border-radius: 20px;
    color: #a7a7a7;
    line-height: 25px;
    transition: all 0.3s ease;
    margin-top: 25px;
}

.resCard:hover{
    box-shadow: 0 0px 10px black;
    cursor: pointer;
}

.resImage{
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 3/2;    
    object-fit: cover;
}

.resName{
    color: #f96e00;
    padding: 10px 0;
}

.time{
    float: right;
}

.filter-btn{
    color: #fff;
    background: #f96e00;
    border: 2px solid #f96e00;
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.filter-btn:hover{
    background: transparent;
    color: #f96e00;
    cursor: pointer;
}